<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1>todo<span>list</span></h1>
    <h3>A simple to do list app built with node</h3>
    <form action="/todos" method="POST">
    <input type="text" name="name" placeholder="Insert your task here">
    </form>
    <hr>
    <ul class="app">

    </ul>
    <script src="app.js"></script>
</body>
</html>