<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
    <h1>todo<span>list</span></h1>
    <h3>Node ile yapılmış basit bir todo listesi</h3>
    <div>
        <input type="text" name="name" placeholder="Insert your task here">
        <button>ekle</button>
    </div>
    <hr>
    <ul class="app">

    </ul>
    <script src="app.js"></script>
</body>
</html>